.table-fixed {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}


.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px; 
  min-height: 38px; 
  flex-wrap: nowrap;
}

.action-buttons button {
  min-width: 85px;
  text-align: center;
}
.table td,
.table th {
  vertical-align: middle !important;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: nowrap;
}
